nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 800px;
}
li {
  list-style-type: none;
  margin: 0.3rem;
  cursor: pointer;
}
